body{
font-family: Arial, sans-serif;
background: linear-gradient(135deg,#4facfe,#00f2fe);
text-align:center;
margin:0;
padding:0;
}

h1{
color:white;
margin-top:30px;
}

.container{
background:white;
padding:25px;
width:380px;
margin:30px auto;
border-radius:12px;
box-shadow:0px 8px 20px rgba(0,0,0,0.2);
}

#balance{
font-size:28px;
margin:10px 0;
}

.summary{
display:flex;
justify-content:space-between;
margin:20px 0;
}

.income{
background:#e6ffed;
padding:10px;
border-radius:8px;
width:45%;
}

.expense{
background:#ffe6e6;
padding:10px;
border-radius:8px;
width:45%;
}

.income p{
color:green;
font-weight:bold;
}

.expense p{
color:red;
font-weight:bold;
}

input{
width:85%;
padding:10px;
margin:6px 0;
border-radius:6px;
border:1px solid #ccc;
}

button{
padding:10px 18px;
background:#007bff;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
font-size:15px;
margin-top:5px;
}

button:hover{
background:#0056b3;
}

ul{
padding:0;
}

li{
list-style:none;
background:#f5f5f5;
padding:10px;
margin:6px 0;
border-radius:6px;
display:flex;
justify-content:space-between;
}
